{{ define "main" }}
{{.Content}}
<section>
  {{ range (.Paginator).Pages }}
  <article class="ui segment">
    <div class="ui top attached label">
      <a href="{{.URL}}">
        {{.Title}}
      </a>
    </div>

    <p>{{.Summary}}</p>
    
    <div class="ui grid">
      <div class="row">
        <div class="six wide column">
          <button class="ui tiny basic fluid icon left labeled button">
            <i aria-hidden="true" class="calendar outline icon"></i>
            {{ dateFormat "January 2, 2006" .Date }}
          </button>
        </div>
        <div class="ten wide column">
          <a class="button is-small" href="{{.URL}}">
            <button class="ui tiny fluid icon right labeled button">
              <i aria-hidden="true" class="book icon"></i>
              Читать далее
            </button>
          </a>
        </div>
      </div>
    </div>
  </article>
  {{ end }}

  <div class="ui center aligned segment">
  <div class="ui secondary compact stackable menu">
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.First.URL }}" class="item">
      <i class="ui angle double left icon"></i>
    </a>
    
    <a href="{{ .Paginator.Prev.URL }}" class="item">
      <i class="ui angle left icon"></i>
    </a>

    {{ if .Paginator.Prev.HasPrev }}
    <a href="{{ .Paginator.Prev.Prev.URL }}" class="item">
      {{ .Paginator.Prev.Prev.PageNumber }}
    </a>
    {{ end }}
    
    <a href="{{ .Paginator.Prev.URL }}" class="item">
      {{ .Paginator.Prev.PageNumber }}
    </a>
    {{ end }}
    
    <a class="active item">
      {{ .Paginator.PageNumber }}
    </a>
    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" class="item">
      {{ .Paginator.Next.PageNumber }}
    </a>

    {{ if .Paginator.Next.HasNext }}
    <a href="{{ .Paginator.Next.Next.URL }}" class="item">
      {{ .Paginator.Next.Next.PageNumber }}
    </a>
    {{ end}}

      <a href="{{ .Paginator.Next.URL }}" class="item">
        <i class="ui angle right icon"></i>
      </a>

      <a href="{{ .Paginator.Last.URL }}" class="item">
        <i class="ui angle double right icon"></i>
      </a>

    {{ end }}
  </div>
  </div>



</section>
{{ end }}
