<html>
  {{ partial "head" }}
  <body>
    <div class="ui container text">
      {{ partial "header" (dict "Kind" .Kind "Template" "List") }}
      {{.Content}}
      <section>
        {{ range .Pages }}
        <article class="ui segment">
          <div class="ui top attached label">
          <a href="{{.URL}}">
            {{.Title}}
          </a>
          </div>

          <p>{{.Summary}}</p>
          
          <div class="ui grid">
            <div class="row">
              <div class="six wide column">
                <button class="ui tiny basic fluid icon left labeled button">
                  <i aria-hidden="true" class="calendar outline icon"></i>
                  {{ dateFormat "January 2, 2006" .Date }}
                </button>
              </div>
              <div class="ten wide column">
                <a class="button is-small" href="{{.URL}}">
                  <button class="ui tiny fluid icon right labeled button">
                    <i aria-hidden="true" class="book icon"></i>
                    Читать далее
                  </button>
                </a>
              </div>
            </div>
          </div>
        </article>
        {{ end }}
        {{ partial "footer" . }}

      </section>
    </div>
  </body>
</html>
