<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}

    <div class="ui text container">
      <div class="ui segment">
        <div class="ui breadcrumb">
          <a href="/" class="section">{{ .Site.Title }}</a>
          <div class="divider"> / </div>
          <a href="/tags" class="section">{{ humanize .Data.Plural }}</a>
          <div class="divider"> / </div>
          <div class="active section">
            <a href="#">
              <div class="ui label">
                {{ .Title | lower }}
              </div>
            </a>
          </div>
        </div>
      </div>

      

      
      {{ range .Data.Pages }}
      <article class="ui segment">
        <div class="ui top attached label">
          <a href="{{.URL}}">
            {{.Title}}
          </a>
        </div>

        <p>{{.Summary}}</p>
        
        <div class="ui grid">
          <div class="row">
            <div class="six wide column">
              <button class="ui tiny basic fluid icon left labeled button">
                <i aria-hidden="true" class="calendar outline icon"></i>
                {{ dateFormat "January 2, 2006" .Date }}
              </button>
            </div>
            <div class="ten wide column">
              <a class="button is-small" href="{{.URL}}">
                <button class="ui tiny fluid icon right labeled button">
                  <i aria-hidden="true" class="book icon"></i>
                  Читать далее
                </button>
              </a>
            </div>
          </div>
        </div>
      </article>
      
      {{ end}}
      

      <div class="ui center aligned segment">
        <a href="/tags">
          Список всех тегов
        </a>
      </div>
      {{ partial "footer.html" . }}

    </div>
  </body>
</html>
