{{ define "main" }}


<div class="ui column">
    <div class="ui breadcrumb segment">
        <a href="/tags" class="section">{{ humanize .Data.Plural }}</a>
        <div class="divider"> / </div>
        <div class="active section">
            <a href="#">
                <div class="ui label">
                    {{ .Title | lower }}
                </div>
            </a>
        </div>
    </div>

    <div class="ui three stackable cards" style="margin-top: 1em;">
        {{ range .Data.Pages }}

        {{ partial "card" . }}

        {{ end}}
    </div>
    
    <div class="ui center aligned basic segment">
        <a href="/tags" class="ui button">
            Список всех тегов
        </a>
    </div>
</div>


{{ end }}
