<a href="{{.URL}}" class="ui fluid card">
    <div class="content">
        <div class="ui large header">
            {{ .Title }}
            <div class="sub header">
                <i class="ui calendar outline icon"></i>
                {{ .Date.Format "Jan 2 2006" }}
            </div>
        </div>

        <p>
            {{ range .Params.tags }}
            <div class="ui label">{{ . }}</div>
            {{ end }}
        </p>

        <div class="description">{{ .Summary }}</div>
    </div>
    <div class="extra content">
        <div class="ui fluid button">
            Читать далее
        </div>
    </div>
</a>


