<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Site.Title }}</title>

  <!-- Custom styles for proper theme look -->

  {{ $semantic := resources.Get "semantic/semantic.css" | postCSS | minify | fingerprint }}
  {{ $custom := resources.Get "custom.css" | postCSS | minify | fingerprint }}


  <link rel="stylesheet" href="{{ $semantic.Permalink }}">
  <link rel="stylesheet" href="{{ $custom.Permalink }}">
  
</head>
