<div class="ui row">
  <div class="ui column">
    <div class="ui secondary center aligned fluid segment">
      <h1 class="ui header">
        <a href="/">{{ .Site.Title }}</a>
        <div class="sub header">
          <div class="ui horizontal list">
            {{ range .Site.Params.about}}
            <div class="item">{{ . }}</div>
            {{ end }}
          </div>
        </div>

      </h1>
      <div class="ui mobile only center aligned grid">
        <div class="ui row">
          <div class="ui column">
            <a href="/pages/about">
              <button class="ui fluid tiny primary icon left labeled button">
                <i aria-hidden="true" class="ui user icon"></i>
                About me
              </button>
            </a>
          </div>
        </div>
      </div>

      <div class="ui tablet computer only center aligned grid">
        <div class="ui row">
          <div class="ui horizontal list">
            {{range  .Site.Params.social}}
            <div class="item">
              <a href="{{.link}}" target="{{.target}}">
                <button class="ui compact tiny basic icon left labeled button">
                  <i aria-hidden="true" class="ui {{.icon}} icon"></i>
                  {{.text}}
                </button>
              </a>
            </div>
            {{end}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
