<div class="ui row">
  <div class="ui column">
    <div class="ui secondary center aligned fluid segment">
  <h1 class="ui header">
    <a href="/">@w96k</a>
    <div class="sub header">
      <div class="ui horizontal list">
        <div class="item">Dev</div>
        <div class="item">Otaku</div>
        <div class="item">Gamer</div>
      </div>
    </div>
  </h1>

  
  <div class="ui horizontal list">
    <div class="item">
      <a href="https://github.com/w96k/" target="_blank">
        <button class="ui compact tiny basic icon left labeled button">
          <i aria-hidden="true" class="ui github icon"></i>
          Github
        </button>
      </a>
    </div>
    <div class="item">
      <a href="/pages/about">
        <button class="ui compact tiny basic icon left labeled button">
          <i aria-hidden="true" class="ui user icon"></i>
          About me
          </button>
        </a>
      </div>
    <div class="item"> 
      <a href="https://t.me/w96k_blog" target="_blank">
        <button class="ui compact tiny basic icon left labeled button">
          <i aria-hidden="true" class="ui telegram icon"></i>
          Telegram
        </button>
      </a>
    </div>
  </div>

    </div>
    </div>
</div>
