<div class="ui column">
    <a href="/">
        <h1>
            {{ .Site.Title }}
        </h1>
    </a>

    {{ $currentPage := . }}

    <div class="ui fluid menu">

        {{ range .Site.Menus.main }}

        {{ if .HasChildren }}

        {{ if ne .Identifier ""}}

        <a
            href="{{ .URL }}"
            class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{end}} item"
            title="{{ .Title }}"
        >
            {{ .Name }}
        </a>

        {{ end }}

        {{ else }}

        <a
            class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }} item" href="{{ .URL }}"
            title="{{ .Title }}"
        >
            {{ .Name }}
        </a>

        {{ end }}

        {{ end }} 

    </div>
</div>
